<a href="https://colab.research.google.com/github/raquelkimberly/Predccion-de-diabetes/blob/main/Prediccion_de_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prediccion de diabetes
Autor: Raquel Kimberly San Mart√≠n Saavedra

#Primera opcion de datos

Fuente remota: https://www.kaggle.com/code/alexteboul/diabetes-health-indicators-dataset-notebook

Este proyecto es sobre clasificacion de los datos de diabetes

el objetivo es clasificar los encuestados segun los sintomas y las respuestas dadas

El conjunto de datos contiene 21 variables y 253,680 de filas, los retos que se puede presentar es la limpieza de datos o un desbalanceo, tambien buscar el modelo adecuado para estos datos

In [1]:
import pandas as pd
df= pd.read_csv('/content/diabetes_012_health_indicators_BRFSS2015.csv')
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

#Segunda opcion de datos


predeterminado de los clientes de tarjetas de cr√©dito
Fuente de datos:https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

Esta investigaci√≥n apunt√≥ al caso de los pagos por defecto de los clientes en Taiw√°n y compara la precisi√≥n predictiva de la probabilidad de incumplimiento entre seis m√©todos de miner√≠a de datos.

Esta investigaci√≥n emple√≥ una variable binaria, pago por defecto (S√≠ = 1, No = 0), como variable de respuesta. Este estudio revis√≥ la literatura y utiliz√≥ las siguientes 23 variables como variables explicativas con 30000 filas en esta base de datos hay retos en buscar le modelo que se utilizaria

In [4]:
import pandas as pd
df= pd.read_excel('/content/default of credit card clients.xls',header=1)
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0